.tableDiv{
  width: 90%;
  height: 90%;
  background: black;
  opacity: 0.87;
  border-radius: 0.2em;
  text-align: right;
  padding: 5px;
}
.table{
  width: 90%;
  height: 90%;
  text-align: center;
}
.table tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}
.table th {
  font-size: 25px;
  color: yellow;
}
.table td {
  text-align: center;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userPic {
  border-radius: 50%;
  max-height: 30px;
  max-width: 30px;
  margin-right: 15px;
}
.closeLeader{
  font-weight: 500;
  color: white;
}
