.mailRow {
  background: #e9d362;
  background: -webkit-linear-gradient(to left, #333333, #e9d362);
  background: linear-gradient(to left, #333333, #e9d362);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.87);
  padding: 0px 24px 0px 24px;
  margin: 4px;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.mailRow:hover {
  box-shadow: 0px 2px 1px black;
}

.title {
  color: white;
  font-size: 1.25rem;
  overflow: hidden;
  line-height: 1;
}

.timestamp {
  font-weight: 700;
  overflow: hidden;
}

.mailDiv {
  background-color: rgba(58, 53, 53, 0.87);
  border-color: white;
  color: rgba(255, 255, 255, 0.87);
  height: 80vh;
  width: 65vw;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -32.5vw;
  margin-top: -37.5vh;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  outline: none;
}

.expandedtitle {
  color: orange;
  padding: 4px;
  font-size: 1.875rem;
  font-weight: bold;
}

.expandedtimestamp {
  font-weight: 700;
  padding: 4px;
  float: right;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a:-webkit-any-link,
a:visited {
  color: yellowgreen !important;
  font-weight: 600;
  text-decoration: underline;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.q_image {
  padding: 24px;
  background-size: contain;
  max-width: 35vw;
  max-height: 40vh;
  align-self: center;
}

#ans {
  height: 30px;
  font-size: 1.25rem;
  width: 90%;
  background: rgb(58, 53, 53);
  border: solid 2px rgb(158, 158, 158);
  border-radius: 15px;
  color: white;
  padding-left: 16px;
  margin-bottom: 10px;
  transition: border 0.1s;
  -webkit-transition: border 0.1s;
}

#ans:focus {
  border-color: yellow;
  outline: none;
}

#ans:hover {
  border: solid 2px yellow;
}

.content {
  padding: 4px;
}

.fullWidth {
  width: 100%;
}

.incorrectAnswer {
  display: none;
  color: red;
}

.correctAnswer {
  display: none;
  color: green;
}
