.mailRow {
  background: #e9d362; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #333333,
    #e9d362
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #333333,
    #e9d362
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.87);
  padding: 0px 24px 0px 24px;
  margin: 4px;
  border-radius: 2px;
  cursor: pointer;
}

.mailRow:hover {
  box-shadow: 3px 3px 2px rgb(158, 158, 158);
}

.title {
  color: white;
  font-size: 20px;
  overflow: hidden;
}

.timestamp {
  font-weight: 700;
  overflow: hidden;
}

.mailDiv {
  background-color: "rgba(0;0;0;0.87)";
  height: 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  padding-left: 24px;
  padding-right: 24px;
  margin: 4px;
  border-radius: 5px;
}

.expandedtitle {
  color: yellow;
  padding: 4px;
  padding-top: 72px;
}

.expandedtimestamp {
  font-weight: 700;
  padding: 4px;
}

.content {
  padding: 4px;
}

.fullWidth {
  width: 100%;
}
