.Login {
    display: grid;
    grid-template-columns: 2fr 7fr;
    height: 100vh;
    width: 100%;
}
.sidebar {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainbox {
    background-color: #00173D;
    /* background: url('../assets/chest.jpg'); */
    display: flex;
    justify-content: center;
    align-items: center;
}
#logincard {
    height: 85%;
    width: 30vw;
    background-color: white;
    /* background: yellow; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
#logodiv {
   /* background-color: tomato; */
   flex-basis: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
#logo {
    max-width:200px;
    max-height:200px;
    /* background: black; */
}
.btn{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnGoogle{

}