.Login {
  display: grid;
  grid-template-columns: 2fr 7fr;
  height: 100vh;
  width: 100%;
}

.mainbox {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logincard {
  height: 85%;

  width: 30vw;
  background-color: #f2fcc4;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  position: relative;
}

#logodiv {
  /* background-color: tomato; */
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#logo {
  max-width: 200px;
  max-height: 200px;
  /* background: black; */
}
.btn {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}




#challengecard {
  height: 90%;
  margin-left: 20px;
  width: 70vw;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.design {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(20, 20, 20);
  z-index: 0;
}

.design2 {
  -webkit-clip-path: polygon(0 0, 23% 75%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 23% 75%, 100% 100%, 0% 100%);

  background-color: rgb(17, 17, 17);

  background-color: rgb(17, 17, 17);
}

.design1 {
  -webkit-clip-path: polygon(0 0, 30% 73%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 30% 73%, 100% 100%, 0% 100%);
  background-color: #a0180d;
}
