.sidebar {
  background-color: #080808;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
}

.sherlock {
  /* position: absolute; */
  height: 60%;
  width: 100%;
  background-color: tomato;
}
