.sidebar {
  background-color: white;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  width: 100%;
  /* padding: 1em; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* flex-direction: column; */
  position: relative;
}
.sherlock {
  /* background-color: tomato; */
  position: absolute;
  height: 25em;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('../assets/sherlock2.jpg'); */
  /* background-color: tomato; */
}

.GameOn {
  /* background-color: yellow; */
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 30px;
}
