.sidebar {
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  width: 100%;
  /* padding: 1em; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* flex-direction: column; */
  position: relative;
}
.sherlock {
  /* background-color: tomato; */
  position: absolute;
  height: 25em;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('../assets/sherlock2.jpg'); */
  /* background-color: tomato; */
  cursor: pointer;
}
/* .sherlock:hover {
  box-shadow: 3px 3px 2px rgb(158, 158, 158);
} */

.GameOn img {
  /* background-color: yellow; */
  color: white;
  position: absolute;
  bottom: 5em;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 17em;
  width: 80%;
  background-size: cover;
}
